<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Registration</h1>
    {% for message in messages%}
    <p>{{message}}</p>
    {% endfor %}

    <form action="/register" method="POST">
        {%csrf_token%}
        <div>
            <label for="">First Name: </label>
            <input type="text" name="first_name" id="">
        </div>
        <div>
            <label for="">Last Name: </label>
            <input type="text" name="last_name" id="">
        </div>
        <div>
            <label for="">Email: </label>
            <input type="email" name="email" id="">
        </div>
        <div>
            <label for="">Password: </label>
            <input type="password" name="password" id="">
        </div>

        <div>
            <label for="">Confirm PW:  </label>
            <input type="password" name="confirm_pw" id="">
        </div>

        <button>Register!</button>
    </form>

    <h1>Login!</h1>

    <form action="/login" method="POST">
        {%csrf_token%}
        <div>
            <label for="">Email: </label>
            <input type="email" name="email" id="">
        </div>
        <div>
            <label for="">Password: </label>
            <input type="password" name="password" id="">
        </div>
        <button>Login!</button>
    </form>
</body>

</html>